<!DOCTYPE html>
<html lang="en">
<head>
      <% include ../partials/head %>    
</head>

<body class="sticky">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div><!-- End Preload -->
    
    <!-- wrap Page -->
    <div id="wrap">
        
        <!-- Header Top -->
        <% include ../partials/header-top.ejs%>
        <!-- End Header Top -->
        <!-- Header -->
        <header class="style2">
             <% include ../partials/header %>     
        </header><!-- End Header -->
        <!-- SubHeader -->
        <section class="parallax-window" id="short"  data-parallax="scroll" data-image-src="/public/images/chef.jpg">
            <div id="sub_header">
                <div class="container" id="sub_content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><%= title %></h1>
                            <div class="bread-crums">
        						<a href="/">Home</a>
        						<span class="bread-crums-span">&raquo;</span>
        						<span class="current"><%= title %></span>
        					</div><!-- End bread-crums -->
                        </div>
                    </div><!-- End row -->
                </div><!-- End container -->
            </div>
        </section>
        <!-- End SubHeader -->
        <div class="gray_bg">
            <div class="container margin_60">
                <% if(data.length > 0) { %>
                <div class="row">
                    <% for(var i=0; i< data.length; i++) { 
                        if(data[i].user_id){
                    %> 
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                      
                        

                        <!--div class="entry gray_bg">
                            <figure style="width: 350px; height:200px;">
                               
                                <img src="<%= data[i].recipe_image %>" alt="Recipe Image" style="width: 350px;height:200px;">
                                
                            </figure>
                            <div class="shortDesc">
                                <h4></h4>
                                
                                <div class="actions">
                                    <div class="rows">
                                        <div class="difficulty col-sm-12"><img style="width:200px;height:350px;" src="<%= data[i].imageUrl %>" alt=""><a href="/dishmizer-profile/<%= data[i].user_id %>"> <h3><%= data[i].value %></h3>
                                            <p><%= data[i].username %></p>
                                            <lable class="star-rating">
                                                <input id="input-2-xs" name="input-2" data-readonly="true" class="rating rating-loading" data-min="0"  data-max="5" data-step="0.5" data-size="xs" value="<%= data[i].rating %>">
                                            </lable>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div-->


                        <div class="entry gray_bg">
                               
                                <% if (data[i].imageUrl !='') { %>
                                       
                                    
                                    <figure style="width: 350px; height:200px;">
                                            <img src="/public/images/userphotos/<%=data[i].imageUrl %>" alt="dishmizerImage" style="width: 250px;height:150px;"> 
                                           <figcaption><a href="/dishmizer-profile/<%= data[i].user_id %>"><i class="fa fa-eye"></i> <span>View Profile</span></a></figcaption>
                                       </figure> 


                                    <% } else{ %>  
                                        <figure style="width: 350px; height:200px;">
                                                <img src="/public/images/unonmous.jpg" alt="dishmizerImage" style="width: 250px;height:150px;"> 
                                               <figcaption><a href="/dishmizer-profile/<%= data[i].user_id %>"><i class="fa fa-eye"></i> <span>View Profile</span></a></figcaption>
                                           </figure> 
                                    <% } %>

                         



                                   
                                    <!-- <div class="difficulty col-sm-12"><img class="img-circle" src="https://wpuploads.appadvice.com/wp-content/uploads/2014/10/facebookanon.jpg" alt=""><a href="/dishmizer-profile/<%= data[i].user_id %>"><span><%= data[i].firstname %> <%= data[i].lastname %></span></a></div>  -->

                           
                            <div class="shortDesc">
                                <h4><a href="/dishmizer-profile/<%= data[i].user_id %>"><%=data[i].username%></a></h4>
                                
                                <div class="actions">
                                    <div class="rows">
                                       
                                        <div class="clearfix"></div>
                                                                                                                     
                                                                          
                                       
                                        
                                        <div class="col-sm-6 RacStar"> 
                                            <!--lable class="star-rating">
                                                <div class="rating-container rating-xs rating-animate rating-disabled"><div class="rating-stars"><span class="empty-stars"><span class="star"><i class="fa fa-star-o"></i></span><span class="star"><i class="fa fa-star-o"></i></span><span class="star"><i class="fa fa-star-o"></i></span><span class="star"><i class="fa fa-star-o"></i></span><span class="star"><i class="fa fa-star-o"></i></span></span><span class="filled-stars" style="width: 0%;"><span class="star"><i class="fa fa-star"></i></span><span class="star"><i class="fa fa-star"></i></span><span class="star"><i class="fa fa-star"></i></span><span class="star"><i class="fa fa-star"></i></span><span class="star"><i class="fa fa-star"></i></span></span><input id="input-2-xs" name="input-2" data-readonly="true" class="rating-input" data-min="0" data-max="5" data-step="0.5" data-size="xs" value="" readonly="readonly"></div></div>
                                            </lable--> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!--div class="col-chef">
                            <div class="photo">
                                <img src="<%= data[i].imageUrl %>" alt="">
                            </div>
                            <div class="chef-overlay">
                               <a href="/dishmizer-profile/<%= data[i].user_id %>"> <h3><%= data[i].value %></h3>
                                <p><%= data[i].content_description %></p>
                                <lable class="star-rating">
                                    <input id="input-2-xs" name="input-2" data-readonly="true" class="rating rating-loading" data-min="0"  data-max="5" data-step="0.5" data-size="xs" value="<%= data[i].rating %>">
                                </lable>
                                </a>
                            </div>
                        </div-->
                    </div>
                <% } }%>  
                </div>
                <% } else { %>
                <div class="col-md-12 clearfix">
                        <div class="text-center">
                            <a class="button-more larg-Btn">No Dishmizer Available</a>
                        </div>
                </div>
                <% } %> <!-- End row --> 
                <div class="row">
                    <div class="col-md-12 text-center margin_top_40">
                        <nav class="navigation pagination">
                            <div class="nav-links">
                                <% if (pages > 0) { %>
                                <ul class="pagination text-center">
                                <% if (current == 1) { %>
                                <li class="disabled"><a>First</a></li>
                                <% } else { %>
                                <li><a href="/dishmizer/1">First</a></li>
                                <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                <li class="active"><a><%= i %></a></li>
                                <% } else { %>
                                <li><a href="/dishmizer/<%= i %>"><%= i %></a></li>
                                <% } %>
                                <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                <li class="disabled"><a>Last</a></li>
                                <% } else { %>
                                <li><a href="/dishmizer/<%= pages %>">Last</a></li>
                                <% } %>
                                </ul>
                                <% } %>

                            </div>
                        </nav>
                    </div>
                </div>
            </div><!-- End container -->
        </div><!-- End white_bg -->
        <!-- newslatter -->
        <div class="newslatter">
            <div class="container">
                <p>Stay Always Updated With us. Sign in with our newsletter</p>
                <div class="subcribe">
                    <input type="text" class="form-control" placeholder="Your Email">
                    <a class="fa fa-paper-plane" href="javascript:void(0);"></a>
                </div>
            </div>
        </div><!-- End newslatter -->
        <!-- Footer -->
        <footer>
            <% include ../partials/footer %>
        </footer><!-- End Footer -->
    </div><!-- End wrap Page -->
    <!-- go-up -->
    <div class="go-up"><i class="fa fa-chevron-up"></i></div>
    <!-- End go-up -->
    
    <!-- COMMON SCRIPTS -->
    <% include ../partials/scripts %>

</body>
</html>