<!DOCTYPE html>
<html lang="en">
<head>
      <% include ../partials/head %>    
</head>

<body class="sticky">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div><!-- End Preload -->
    
    <!-- wrap Page -->
    <div id="wrap">
        
        <!-- Header Top -->
        <% include ../partials/header-top.ejs%>
        <!-- End Header Top -->
        <!-- Header -->
        <header class="style2">
             <% include ../partials/header %>     
        </header><!-- End Header -->
        <!-- SubHeader -->
        <section class="parallax-window" id="short"  data-parallax="scroll" data-image-src="/public/images/recipes.jpg">
            <div id="sub_header">
                <div class="container" id="sub_content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><%= title %></h1>
                            <div class="bread-crums">
                                <a href="/">Home</a>
                                <span class="bread-crums-span">&raquo;</span>
                                <span class="current"><%= title %></span>
                            </div><!-- End bread-crums -->
                        </div>
                    </div><!-- End row -->
                </div><!-- End container -->
            </div>

        </section>

        
         <!-- End SubHeader -->
        <section class="featuredRecipe margin_60">
            <div class="container">
                <div class="main_title">
                    <h2 class="nomargin_top">Recipes</h2>
                    <hr class="divider">
                </div><!-- End main_title -->

                <div class="row">
                <div class="above-sidebar full-width">
                    <ul class="boxed">
                        <li class="light"><a href="recipes/category/African"><i class="icon icon-themeenergy_kebab"></i> <span>African</span></a></li>
                        <li class="medium"><a href="recipes/category/Animals"><i class="icon dog-icon"></i> <span>Animals</span></a></li>
                        <li class="dark"><a href="recipes/category/Apetizers"><i class="icon icon-themeenergy_pasta"></i> <span>Apetizers</span></a></li>
                        <li class="light"><a href="recipes/category/Asian"><i class="icon icon-themeenergy_sushi"></i> <span>Asian</span></a></li>
                        <li class="medium"><a href="recipes/category/Babies"><i class="icon baby-icon"></i> <span>Babies</span></a></li>
                        <li class="dark"><a href="recipes/category/Caribbean"><i class="icon icon-themeenergy_burger-coke"></i> <span>Caribbean</span></a></li>
                        <li class="medium"><a href="recipes/category/Cocktails"><i class="icon icon-themeenergy_margarita2"></i> <span>Cocktails</span></a></li>
                        <li class="dark"><a href="recipes/category/Deserts"><i class="icon icon-themeenergy_cupcake"></i> <span>Deserts</span></a></li>
                        <li class="light"><a href="recipes/category/Eggs"><i class="icon icon-themeenergy_eggs"></i> <span>Eggs</span></a></li>
                        <li class="dark"><a href="recipes/category/Equipment"><i class="icon icon-themeenergy_blender"></i> <span>Equipment</span></a></li>
                        <li class="light"><a href="recipes/category/Events"><i class="icon icon-themeenergy_turkey"></i> <span>Events</span></a></li>
                    
                        <li class="medium"><a href="recipes/category/Fish"><i class="icon icon-themeenergy_fish2"></i> <span>Fish</span></a></li>

                        <li class="dark"><a href="recipes/category/Fitness"><i class="icon icon-themeenergy_biceps"></i> <span>Fitness</span></a></li>

                        <li class="light"><a href="recipes/category/Healthy"><i class="icon icon-themeenergy_apple2"></i> <span>Healthy</span></a></li>
                        
                        <li class="medium"><a href="recipes/category/Hot&Cold"><i class="icon icon-themeenergy_coffee-2"></i> <span>Hot &amp; Cold</span></a></li>
                        <li class="light"><a href="recipes/category/Kids"><i class="icon icon-themeenergy_happy"></i> <span>Kids</span></a></li>
                        <li class="medium"><a href="recipes/category/Meat"><i class="icon icon-themeenergy_meat"></i> <span>Meat</span></a></li>

                        <li class="dark"><a href="recipes/category/Mexican"><i class="icon icon-themeenergy_peper"></i> <span>Mexican</span></a></li>
                        <li class="medium marginLeft"><a href="recipes/category/Middle_East"><i class="icon icon-themeenergy_turkey"></i> <span>Middle East</span></a></li>
                        <li class="light"><a href="recipes/category/Pizza"><i class="icon  icon-themeenergy_pizza-slice"></i> <span>Pizza</span></a></li>
                        <li class="medium"><a href="recipes/category/Salads"><i class="icon icon-themeenergy_eggplant"></i> <span>Salads</span></a></li>
                        <li class="dark"><a href="recipes/category/Sandwiches"><i class="icon icon-themeenergy_bread-3"></i> <span>Sandwiches</span></a></li>
                        <li class="light"><a href="recipes/category/Snacks"><i class="icon icon-themeenergy_fried-potatoes"></i> <span>Snacks</span></a></li>
                        <li class="dark"><a href="recipes/category/Soups"><i class="icon icon-themeenergy_soup2"></i> <span>Soups</span></a></li>
                        <li class="light"><a href="recipes/category/Vegetarian"><i class="icon icon-themeenergy_plant-symbol"></i> <span>Vegetarian</span></a></li>
                    </ul>
                </div>
            </div>

                <% if(data.length > 0) { %>
                <div class="row">
                    <% for(var i=0; i< data.length; i++) { %>
                    <% var url = '/single-recipes/buy/'+data[i].recipe_id; %>
                    <% if(recipeids.includes(data[i].recipe_id) || data[i].user_id == sess_val) {
                        var url = '/single-recipes/'+data[i].recipe_id }%>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="entry gray_bg">
                            <figure>
                                <img src="<%= data[i].recipe_image %>" alt="">
                                <figcaption><a href="<%= url %>"><i class="fa fa-eye"></i> <span>View recipe</span></a></figcaption>
                            </figure>
                            <div class="shortDesc">
                                <h4><a href="<%= url %>"><%= data[i].recipe_title %></a></h4>
                                
                                <div class="actions">
                                    <div class="rows">
                                        <div class="difficulty col-xs-12"><img class="img-circle" src="<%= data[i].imageUrl %>" alt=""><a href="/dishmizer-profile/<%= data[i].user_id %>"><span><%= data[i].firstname %> <%= data[i].lastname %></span></a></div>
                                        
                                        <div class="clearfix"></div>
                                        <% if( sess_val === undefined || data[i].likeStatus === 0 ) { %>
                                        <div class="likes col-xs-3"><a href="javascript:void(0);" onclick="actOnPost(event)"><i class="fa fa-heart" data-post-id="<%= data[i].recipe_id %>" data-post-action="Like" aria-hidden="true"></i> <span id="likes-count-<%= data[i].recipe_id %>"><%= data[i].like_count %></span> </a></div>
                                        
                                        <% } else if ( data[i].likeStatus === null && sess_val !== undefined ) { %>
                                        <div class="likes col-xs-3"><a href="javascript:void(0);" onclick="actOnPost(event)"><i class="fa fa-heart" data-post-id="<%= data[i].recipe_id %>" data-post-action="Like" aria-hidden="true"></i> <span id="likes-count-<%= data[i].recipe_id %>"><%= data[i].like_count %></span> </a></div>
                                        
                                        <% } else if( data[i].likeStatus === 1 && sess_val !== undefined) { %> 
                                        <div class="likes col-xs-3"><a href="javascript:void(0);" class="like" onclick="actOnPost(event)"><i class="fa fa-heart" data-post-id="<%= data[i].recipe_id %>" data-post-action="Unlike" aria-hidden="true"></i> <span id="likes-count-<%= data[i].recipe_id %>"><%= data[i].like_count %></span> </a></div>
                                        <% } %>
                                        <% if( sess_val !== undefined) { %> 
                                        <div class="commented col-xs-3"><a href="<%= url %>"><i class="fa fa-comment" aria-hidden="true"></i><%= data[i].comment_count %></a></div>
                                        <% } else { %>
                                        <div class="commented col-xs-3"><a href="/login"><i class="fa fa-comment" aria-hidden="true"></i><%= data[i].comment_count %></a></div>
                                        <% } %>
                                        <div class="col-sm-6 RacStar"> 
                                            <a href="<%= url %>">
                                            <lable class="star-rating">
                                                <input id="input-2-xs" name="input-2" data-readonly="true" class="rating rating-loading" data-min="0"  data-max="5" data-step="0.5" data-size="xs" value="<%= data[i].rating %>">    
                                            </lable> 
                                            </a>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <% } %>

                    <div class="col-md-12 clearfix">
                       <% if (nextPageToken) { %>
                        <div class="text-center">
                            <a class="button-more larg-Btn" href="/recipes?pageToken=<%= nextPageToken %>">More Recipe</a>
                        </div>
                    <% } %>
                    </div>

                </div><!-- End row -->
                <% } else { %>
                <div class="col-md-12 clearfix">
                        <div class="text-center">
                            <a class="button-more larg-Btn">No Recipe Available</a>
                        </div>
                </div>
                <% } %>  
            </div>
        </section><!-- End container -->
        <!-- newslatter -->
        <section class="newslatter">
            <div class="container">
                <p>Stay Always Updated With us. Sign in with our newsletter</p>
                <div class="subcribe">
                    <input type="text" class="form-control" placeholder="Your Email">
                    <a class="fa fa-paper-plane" href="javascript:void(0);"></a>
                </div>
            </div>
        </section><!-- End newslatter -->
        <!-- Footer -->
       <footer>
            <% include ../partials/footer %>
        </footer><!-- End Footer -->
    </div><!-- End wrap Page -->
    <!-- go-up -->
    <div class="go-up"><i class="fa fa-chevron-up"></i></div>
    <!-- End go-up -->
    
    <!-- COMMON SCRIPTS -->
    <% include ../partials/scripts %>
</body>
</html>